:root {
    --cellsize: 2%;
  }
  

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

}

#cellContainer {
    width: 100vh;
    height: 100vh;
    min-width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cell {
    width: var(--cellsize);
    height: var(--cellsize);
    min-width: 10px;
    min-height: 10px;
    background-color: gray;
}

.border {
    border: 1px solid black;
    box-sizing: border-box;
}

.alive {
    background-color: black;
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

p {
    max-width: 80%;
}

ol {
}

li {
    padding: 0.3vw;
    list-style-position: inside;
}

li:first-of-type {
    margin-top: 1vw;
}


